{% extends "base.html" %}
{% load static %}


{% block content %} 
  
    <section  class="post container">
      {% for post in posts %}
         <div class="post-caixa">
          {% if post.imagem %}
             <img src="{}" alt="" class="post-img">
          {% else %}
             <img src="{% static 'placeholder.jpg %'}" alt="" class="post-img">
          {% endif %}
             <h2 class="categoria">{{post.categoria}}</h2>
             <a href="orientacaosexualhtml" class="post-titulo">{{post.titulo}}</a>
             <p class="post-descricao">{{post.descricao}}</p>
         </div>
      {% endfor %}
   </section>


{% endblock content %}


